<template name="Text_Form_Control">
  {{! parameters: required, label, name, id, placeholder, value, errorMessage. }}
  {{! name, id, and placeholder are optional and default to label. }}
  <div class="{{#if required}}required{{/if}} field">
    <label>{{label}}</label>
    <div class="field">
      <input type="text"
             name="{{#if name}}{{name}}{{else}}{{label}}{{/if}}"
             id="{{#if id}}{{id}}{{else}}{{label}}{{/if}}"
             placeholder="{{#if placeholder}}{{placeholder}}{{else}}{{label}}{{/if}}"
             value="{{value}}">
    </div>
    {{> Form_Error_Message errorMessage=errorMessage}}
  </div>
</template>