<template name="TextArea_Form_Control">
  {{! parameters: required, label, name, rows, id, placeholder, value, errorMessage.
  {{! name, id, and placeholder are optional and default to label. }}
  {{! rows is optional defaults to 5 }}
  <div class="{{#if required}}required{{/if}} field">
    <label>{{#if label}}{{label}}{{else}}{{name}}{{/if}}</label>
    <textarea rows="{{#if rows}}{{rows}}{{else}}5{{/if}}"
              name="{{#if name}}{{name}}{{else}}{{label}}{{/if}}"
              id="{{#if id}}{{id}}{{else}}{{name}}{{/if}}"
              placeholder="{{#if placeholder}}{{placeholder}}{{else}}{{label}}{{/if}}">{{value}}</textarea>
  </div>
  {{> Form_Error_Message errorMessage=errorMessage}}
</template>