<template name="Text_Form_Control">
  {{! parameters: required, label, name, id, placeholder, value, errorMessage. }}
  {{! label, id, and placeholder are optional and default to name.. }}
  <div class="{{#if required}}required{{/if}} field">
    <label>{{#if label}}{{label}}{{else}}{{name}}{{/if}}</label>
    <div class="field">
      <input type="text" name="{{name}}" id="{{#if id}}{{id}}{{else}}{{name}}{{/if}}" placeholder="{{#if placeholder}}{{placeholder}}{{else}}{{name}}{{/if}}" value="{{value}}">
    </div>
    {{> Form_Error_Message errorMessage=errorMessage}}
  </div>
</template>